@font-face {
  font-family: lato-light;
  src: url("fonts/lato-light.ttf");
}

@font-face {
  font-family: lato-bold;
  src: url("fonts/lato-bold.ttf");
}

@font-face {
  font-family: futura-light-bt;
  src: url("fonts/futura-light-bt.ttf");
}

@font-face {
  font-family: futura-bold-bt;
  src: url("fonts/futura-bold-bt.ttf");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

header {
  background-image: url("images/header-background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  max-width: 100%;
  padding: 0  3.7vw;
  padding-top: 5.7vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2vh;
}

header nav ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-family: lato-bold;
  margin-left: 3.7vw;
}

header nav ul li #select-language {
  margin-left: 1.05vw;
}

header .content {
  height: 100%;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content p {
  color: white;
  font-family: futura-light-bt;
}

header .content p span {
  font-family: futura-bold-bt;
}

.services {
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10.8vh;
}

.services .content {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .content .left {
  color: #3fb2f9;
}

.services .content .left p {
  font-family: lato-light;
}

.services .content .left p span {
  font-family: lato-bold;
}

.services .content .right {
  color: #081038;
}

.services .content .right p {
  font-family: lato-light;
}

.services .content .icons {
  width: 100%;
  padding: 5.7vh 8.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-boxs {
  width: 100vw;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-boxs .box {
  width: 33.33%;
  padding: 9.3vh 0 4.6vh 3.7vw;
}

.services-boxs .box p {
  color: white;
}

.services-boxs .box p:nth-of-type(1) {
  font-family: lato-light;
}

.services-boxs .box p:nth-of-type(2) {
  font-family: futura-light-bt;
}

.services-boxs .box p:nth-of-type(3) {
  font-family: futura-light-bt;
}

.services-boxs .box button {
  font-family: lato-bold;
  width: 9.45vw;
  height: 6.2vh;
  border-radius: 50px;
  border: 3px solid white;
  background: transparent;
  color: white;
  margin-top: 9.2vh;
  cursor: pointer;
}

.services-boxs .box #btn2 {
  color: orange;
  background: white;
}

.services-boxs .box #btn3 {
  margin-top: 16vh;
}

.services-boxs .box:nth-of-type(1) {
  background-image: url("images/bg1.png");
  background-position: center center;
  background-size: cover;
}

.services-boxs .box:nth-of-type(2) {
  background-image: url("images/bg2.png");
  background-position: center center;
  background-size: cover;
}

.services-boxs .box:nth-of-type(3) {
  background-image: url("images/bg3.png");
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 1920px) {
  nav ul li a {
    font-size: 1.5rem;
  }
  header .content p, header .content p span {
    font-size: 5.3rem;
  }
  .services .content .left p, .services .content .left p span {
    font-size: 2.56rem;
  }
  .services .content .right p {
    font-size: 1.55rem;
  }
  .services-boxs .box p {
    font-size: 4.1rem;
  }
  .services-boxs .box button {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 2560px) {
  nav ul li a {
    font-size: 2rem;
  }
  header .content p, header .content p span {
    font-size: 7.1rem;
  }
  .services .content .left p, .services .content .left p span {
    font-size: 3.41rem;
  }
  .services .content .right p {
    font-size: 2.06rem;
  }
  .services-boxs .box p {
    font-size: 5.46rem;
  }
  .services-boxs .box button {
    font-size: 1.73rem;
  }
}

@media only screen and (min-width: 4096px) {
  nav ul li a {
    font-size: 3.2rem;
  }
  header .content p, header .content p span {
    font-size: 11.3rem;
  }
  .services .content .left p, .services .content .left p span {
    font-size: 5.46rem;
  }
  .services .content .right p {
    font-size: 3.3rem;
  }
  .services-boxs .box p {
    font-size: 8.74rem;
  }
  .services-boxs .box button {
    font-size: 2.77rem;
  }
}
/*# sourceMappingURL=style.css.map */