* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 965px;
  background: url("images/header-background.jpg");
  background-size: cover;
  background-position: center center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 0 70px;
  /*border: 2px solid white;*/
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  /*border: 1px solid white;*/
  list-style: none;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

header nav #logo {
  height: 65px;
}

header nav #flag {
  width: 50px;
  height: 25px;
}

header .fluid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1320px;
  height: 845px;
}

header .fluid-container p {
  color: white;
  font-size: 85px;
  font-family: 'Didact Gothic', sans-serif;
}

.services {
  width: 100vw;
  max-width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .fluid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border:1px solid aqua;*/
  width: 1320px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding-top: 105px;
}

.services .fluid-container p:first-of-type {
  color: #3fb2f9;
  font-size: 41px;
}

.services .fluid-container p:last-of-type {
  color: #081038;
  font-size: 25px;
}

.boxes {
  width: 100vw;
  max-width: 100%;
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes .box {
  /*border: 1px solid green;*/
  width: 33.33%;
  height: 405px;
  padding-top: 95px;
  padding-left: 70px;
  padding-bottom: 45px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 66px;
}

.boxes .box:nth-of-type(1) {
  background-image: url("images/bg1.png");
  background-position: center center;
  background-size: cover;
}

.boxes .box:nth-of-type(2) {
  background-image: url("images/bg2.png");
  background-position: center center;
  background-size: cover;
}

.boxes .box:nth-of-type(3) {
  background-image: url("images/bg3.png");
  background-position: center center;
  background-size: cover;
}

.boxes button {
  height: 60px;
  width: 180px;
  border: 3px solid white;
  border-radius: 50px;
  background: transparent;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */